
@define-color window_bg_color #000000;
@define-color window_fg_color #ffffff;
@define-color view_bg_color #000000;
@define-color view_fg_color #ffffff;
@define-color card_bg_color #141414;
@define-color card_fg_color #ffffff;
@define-color headerbar_bg_color #000000;
@define-color headerbar_fg_color #ffffff;
/* @define-color borders alpha(#fff, 0.15); */


/* textview.view { 
    color: white;
} */

.overlay-indicator
{
    color: #555555;
}

scrolledwindow content
{
    border-radius: 15px;
}


