.scroll label {
    transform: translateX(100px);
    animation:  slide-animation 8s infinite linear alternate;
}

  
@keyframes slide-animation {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(-50px);
    }
}

.scroll label {
    transform: translateX(100px);
    animation:  slide-animation 8s infinite linear;
    }
    @keyframes slide-animation {
    from {
    transform: translateX(-50px);
    }
    to {
    transform: translateX(-50px);
    }
    }

