

.navbox.visible{
    opacity: 1.0; 
}


.navbox{
    opacity: 0.0;
    transition: opacity 500ms;
}

.navbox button
{
    border-radius: 9999px;
}

scrolledwindow viewport
{
    border-radius: 12px;
}

button.chapter-selection
{
    padding: 12px;
}

