window {
    background-color: rgb(196, 187, 148);
    color: rgb(36, 36, 36);
}

textview { 
    background-color: rgb(196, 187, 148);
    color: rgb(36, 36, 36);
}

style_popover { 
    background-color: rgb(196, 187, 148);
    color: rgb(36, 36, 36);
    
}

box { 
    
    background-color: rgb(196, 187, 148);
    color: rgb(36, 36, 36);
}

#navigation_arrow{
    color: rgb(36, 36, 36);

}

label {
    size: 16;
}
